{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="text-center text-success">Add new todo</h3>
            <hr>
            <form class="forms" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form add_todo_form %}
                <input type="submit" class="btn btn-primary" value="Add">
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{{ form.media }}
{% endblock %}