{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row banner">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      {% if messages %}
      {% for message in messages %}
      <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="alert text-center {{ message.tags }} alert-dismissible" role="alert" id="messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      {% endfor %}
      {% endif %}
      <h2 class="text-center">My Tasks</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <h3 class="text-success">Tasks To Do</h3>
            {% for todo in incomplete_todos %}
            <div class="">
              <a href="{% url 'todo_app:todo_details' todo.id %}"><h4 class="text-info">{{todo.title}}</h4></a>
              <p>{{todo.description}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <h3 class="text-success">Completed Tasks</h3>
            {% for todo in complete_todos %}
            <div class="">
              <a href="{% url 'todo_app:todo_details' todo.id %}"><h4 class="text-info">{{todo.title}}</h4></a>
              <p>{{todo.description}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}