<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="{% url 'todo_app:index' %}">Todo App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form action="{% url 'todo_app:search' %}" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="todo" type="search" placeholder="Search task" aria-label="Search">
      <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'todo_app:add_todo' %}"><span class="text-light"> Add Task</span></a>
      </li>
    </ul>
  </div>
</nav>