{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      {% if messages %}
      {% for message in messages %}
      <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="alert text-center {{ message.tags }} alert-dismissible" role="alert" id="messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      {% endfor %}
      {% endif %}
      <div class="text-center">
        {% if todos%}
        <h3 class="title">Found {{ todos|length }} todos of searched term <span class="text-success">{{message}}</span>
        </h3>
        {% else %}
        <h3 class="title"> Found 0 todos for the search term <span class="text-success">{{message}}</span></h3>
        {% endif %}

      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          {% for todo in todos %}
          <div class="card">
            <a href="{% url 'todo_app:todo_details' todo.id %}">
              <h4 class="text-info">{{todo.title}}</h4>
            </a>
            <p>{{todo.note}}</p>
          </div>
          {% endfor %}
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}